body {
    padding-top: 5rem;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.uploaded-img {
    width: 380px;
    height: 380px;
    box-shadow: 1px 1px #808080;
}